* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	list-style: none;
}
a {
	text-decoration: none;
	color: #425766
}
body{
	background-color: #F4F3F3;
}
header {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5)
}

header span {
	position: relative;
	display: block;
	top: 17px;
	width: 242px;
	height: 33px;
	background: url(../imgs/sprite.png) no-repeat -28px 0px;
}
header h1{
	margin-left: 300px;
}

header ul{
	margin-left: 550px;
	margin-top: -30px;

}
header ul {
	float: left;
	padding-left: 40px;
}
header ul li {
	float: left;
	width: 120px;
	text-align: center;
	height: 68px;
	line-height: 68px;
	font-size: 14px;
	font-weight: 600;
}
.current {
	border-bottom: 2px solid #ff4500;
}
.current a {
	color: #ff4500;
}
.box1{
	 width: 900px;
     height: 350px;
    
     margin-top: 10px;
     margin-left: 300px;
     padding-top: 50px;	
}
.box2{
     width: 900px;
     height: 350px;
    
     margin-top: -10px;
     margin-left: 300px;	
}
.box3{
     width: 900px;
     height: 350px;
    
     margin-top: -100px;
     margin-left: 300px;	
}
.list{
	padding-bottom: 50px;
}
.list h1{
	font-size: 16px;
}
.list p{
	margin-top: 10px;
	font-size: 14px;
	opacity: 0.8;
}
table {
	margin-top: 6px;
	border: solid 1px #d6dbe2;
	background: #eff3f6;
	border-bottom: 0;
	margin-bottom: 40px;
}
table thead th {
	font-weight: 700;
	background: #e4e7eb;
	padding: 17px 0;
	text-align: center;
	border-bottom: solid 1px #d6dbe2;
}
table td {
	font-size: 14px;
	padding: 17px 0;
	text-align: center;
	border-bottom: solid 1px #d6dbe2;
}
h2{
	font-size: 18px;
}
.foot{
	font-size: 13px;
	opacity: 0.7;
	margin-top: 10px;
	margin-bottom: 30px;
}